<figure>
  <IMG src="figures/logo-esi-sba.png" WIDTH=300 height="100" ALIGN="right">
</figure>

# Practical Trainining Series on Software Engineering For Data Science  
*By Dr. Belkacem KHALDI (b.khaldi@esi-sba.dz)*

# Notebook 5: Data Processing & Cleaning for Data Science: Data Ingestion and Wrangling with Pandas

The purpose of this [Jupyter Notebook] is to getting you introduced to the Data Processing & Cleaning for Data
Science: Data Ingestion and Wrangling with Pandas. It provides a set of practical Training challenges that allow grasping the different concepts presented in the lecture 5.

## Challenge 1
1. Connect to the `chinook.db` sqlite3 database available in the folder data.
2. Find the genre names with the longest average song length.

`Hint:`
join the tables with the genre name and song length and use the SQLite aggregate
function for the average along with a GROUP BY clause.

In [2]:
#Your Solution here
import sqlite3
# Using relative path
connection = sqlite3.connect('chinook.db')
cursor = connection.cursor()

## Challenge 2: Ingesting, Wrangling and Analyzing  iTune data

You've started a new data science position at the iTune department at Apple Company. 
The department wants to build, test, and evaluate new machine learning recommendation song models using a different source of data: in Excel file, in a csv file, and in the chinook.db SQLite database. They want you proceed with the data ingsestion and data wrangling procedures to provide a clean dataset to be used later for their machine learning based recommendation songs models.  

1. They particlarly asked you to load, clean, and analyze, and then deliver your results to the executive team and president.
You should deliver a small summary of your EDA work from pandas and save your cleaned and prepared data as a new Excel file. The data files are `chinook_data.xlsx`, `chinook_data.csv`, and `chinook.db` on the data folder existed within this notebook.

`Hint:`
1. Follow the procedures in Lecture 5 - Slides: 13-17 - For data ingestion (Data loading from different sources).

2. Follow and test the procedures in Lecture 5 - Slides:18-22 - For Basic Exploratory Data Analysis (EDA).

3. Follow and test the procedures in Lecture 5 - Slides:23-27 - For Basic Data Cleaning Operations.

4. To save your cleaned dataset in an excel file use the pandas built-in method: `pandas.DataFrame.to_excel`.

In [3]:
#Your Solution here

import sqlite3

connection = sqlite3.connect('data\chinook.db')
cursor = connection.cursor()

query = """SELECT tracks.name as Track,
tracks.composer,
tracks.unitprice,
genres.name as Genre,
albums.title as Album,
artists.name as Artist
FROM tracks
JOIN genres ON tracks.genreid = genres.genreid
JOIN albums ON tracks.albumid = albums.albumid
JOIN artists ON albums.artistid = artists.artistid;
"""

import pandas as pd
sql_df = pd.read_sql_query(query, connection)

csv_df = pd.read_csv('data\chinook_data.csv', sep=',', decimal='.')

excel_df = pd.read_excel('data\chinook_data.xlsx')

df = pd.concat([csv_df, excel_df, sql_df])

df.head()

,Track,Composer,Milliseconds,Bytes,UnitPrice,Genre,Album,Artist
0,All the Best Cowboys Have Daddy Issues,NaN,2555492.0,211743651.0,1.99,TV Shows,"Lost, Season 1",Lost
1,Beira Mar,Gilberto Gil,295444.0,9597994.0,0.99,Latin,Unplugged,Eric Clapton
2,Brasil,"Milton Nascimento, Fernando Brant",155428.0,5252560.0,0.99,Latin,Milton Nascimento Ao Vivo,Milton Nascimento
3,Ben Franklin,NaN,1271938.0,264168080.0,1.99,Comedy,"The Office, Season 3",The Office
4,O Último Romântico (Ao Vivo),NaN,231993.0,7692697.0,0.99,Latin,Lulu Santos - RCA 100 Anos De Música - Álbum 02,Lulu Santos

In [4]:
df.tail()

,Track,Composer,Milliseconds,Bytes,UnitPrice,Genre,Album,Artist
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,None,NaN,NaN,0.99,Classical,Respighi:Pines of Rome,Eugene Ormandy
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Franz Schubert,NaN,NaN,0.99,Classical,Schubert: The Late String Quartets & String Qu...,Emerson String Quartet
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Claudio Monteverdi,NaN,NaN,0.99,Classical,Monteverdi: L'Orfeo,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Wolfgang Amadeus Mozart,NaN,NaN,0.99,Classical,Mozart: Chamber Music,Nash Ensemble
3502,Koyaanisqatsi,Philip Glass,NaN,NaN,0.99,Soundtrack,Koyaanisqatsi (Soundtrack from the Motion Pict...,Philip Glass Ensemble

In [5]:
df.shape

(4021, 8)

In [6]:
df.info

<bound method DataFrame.info of                                                   Track
0                All the Best Cowboys Have Daddy Issues  \
1                                             Beira Mar
2                                                Brasil
3                                          Ben Franklin
4                          O Último Romântico (Ao Vivo)
...                                                 ...
3498  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...
3499  String Quartet No. 12 in C Minor, D. 703 "Quar...
3500               L'orfeo, Act 3, Sinfonia (Orchestra)
3501  Quintet for Horn, Violin, 2 Violas, and Cello ...
3502                                      Koyaanisqatsi

                               Composer  Milliseconds        Bytes  UnitPrice
0                                   NaN     2555492.0  211743651.0       1.99  \
1                          Gilberto Gil      295444.0    9597994.0       0.99
2     Milton Nascimento, Fernando Brant      155428.0    5252560.0       0.99
3                                   NaN     1271938.0  264168080.0       1.99
4                                   NaN      231993.0    7692697.0       0.99
...                                 ...           ...          ...        ...
3498                               None           NaN          NaN       0.99
3499                     Franz Schubert           NaN          NaN       0.99
3500                 Claudio Monteverdi           NaN          NaN       0.99
3501            Wolfgang Amadeus Mozart           NaN          NaN       0.99
3502                       Philip Glass           NaN          NaN       0.99

           Genre                                              Album
0       TV Shows                                     Lost, Season 1  \
1          Latin                                          Unplugged
2          Latin                          Milton Nascimento Ao Vivo
3         Comedy                               The Office, Season 3
4          Latin    Lulu Santos - RCA 100 Anos De Música - Álbum 02
...          ...                                                ...
3498   Classical                             Respighi:Pines of Rome
3499   Classical  Schubert: The Late String Quartets & String Qu...
3500   Classical                                Monteverdi: L'Orfeo
3501   Classical                              Mozart: Chamber Music
3502  Soundtrack  Koyaanisqatsi (Soundtrack from the Motion Pict...

                                                 Artist
0                                                  Lost
1                                          Eric Clapton
2                                     Milton Nascimento
3                                            The Office
4                                           Lulu Santos
...                                                 ...
3498                                     Eugene Ormandy
3499                             Emerson String Quartet
3500  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
3501                                      Nash Ensemble
3502                              Philip Glass Ensemble

[4021 rows x 8 columns]>

In [7]:
bbtc

NameError: name 'bbtc' is not defined

In [ ]:
df.describe()

In [ ]:
df[['Milliseconds' ,'Bytes' ,'UnitPrice']].corr()

In [ ]:
df['Genre'].mode()

In [ ]:
df['Genre'].value_counts()

In [ ]:
import matplotlib.pyplot as plt
df['Milliseconds'].hist()
plt.show()

In [ ]:
df.plot.scatter(x='Milliseconds',y='Bytes')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df['Genre'].value_counts().plot.bar()
plt.show()

In [ ]:
plt.boxplot(df['Milliseconds'])
plt.title('Box Plot')
plt.ylabel('Values')
plt.show()

In [ ]:
df.drop('Composer', axis=1, inplace=True)
df.columns

In [ ]:
only_music = df[~df['Genre'].isin(['Drama', 'TV Shows', 'SciFi & Fantasy', 'Science Fiction', 'Comedy'])]
only_music

In [ ]:
df.dropna(thresh = 2, inplace=True)
df.columns

In [ ]:
df['UnitPrice'].fillna(df['UnitPrice'].mode(),inplace=True)

In [ ]:
def remove_outliers(df, column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    upper_boundary = q3 + 1.5 * iqr
    lower_boundary = q1 - 1.5 * iqr
    new_df = df.loc[(df[column] > lower_boundary) & (df[column] < upper_boundary)]
    return new_df

df_clean = remove_outliers(df, 'Milliseconds')
df_clean

In [ ]:
plt.boxplot(df_clean['Milliseconds'])
plt.title('Box Plot')
plt.ylabel('Values')
plt.show()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

In [ ]:
df['Milliseconds'] = df['Milliseconds'].astype('int')

In [ ]:
df['Seconds'] = df['Milliseconds'] / 1000
df['len_byte_ratio'] = df['Milliseconds']/ df['Bytes']
genre_dict = {'metal': 'Metal', 'met': 'Metal'}
df['Genre'].replace(genre_dict)
df['Genre'] = df['Genre'].str.upper()
df.drop(columns=['Milliseconds'], inplace=True)

## Challenge 3: Ingesting, Wrangling and Analyzing Bitcoin price data


You have just joined a financial company as a new data scientist. The company is  interested in the Bitcon market and you are working with a team that aims to ingest data and then clean, and analyse the final dataset to be used later to build and evaluate machine learning models for Bitcon Price forecasting.

The company is working with two datasets coming from two different sources and is only interested in the `BTCUSD` currency: 
1. One dataset is json file locally existed in the data folder: `bitcoin_price.json`. This file contains data up to `2020-11-27`
2. The other uses a real time data flow that comes from yahoo finance api service. The company wants to collect real time data beginning from `2020-11-28` to `2022-10-31`.

You are asked to do the required checklist procedures and operations to load, clean, and analyse, and then deliver your results to the executive team with providing a short summaray of your prelimanary EDA work from pandas and save the cleaner dataset as a new csv file. 
Note that the 

`Hint:`

1. To load a json file into a dataframe use the snipet code below:

```python
import json

with open('<path_to_your_json_file>') as f:
    data = json.load(f)

btc_df_jsn=pd.DataFrame.from_dict(data)
```

This code uses the `json` built-in python module to open a json file and load it in an object data. Then we use the `from_dict()` pandas method to transform the json data into a DataFrame.

2. To get real time data flow from the yahoo finance api sevice we will use the `yfinance` module. 
    * So, first install the module in your environment using  `conda install yfinance`.
    * Then use the code below to get real data. Test with the periode from `2020-11-28` to `2022-10-31`.

```python
import yfinance as yf

btc_yf_df = yf.download('BTC-USD', # The currency we are intersted in
                   start='<start_date>', # The starting date
                   end='<end_date>', # The starting date
                   interval='1d' # The frequency of collecting the data. here 1 day
                  )
```

3. Get a look of the two DataFrames and see what are the common columns and what differ one to another.
    * You will notice that the  json DataFrame is indexed numericaly wherease the yahoo DataFrame is indexed by Date. So, you have to uniform the index for both DataFrames. In this case we will change the json DataFrame  index by Date.
        1. To do that, first rename the column `time` to `Date` by using the built-in pandas method: `rename()` as follows:
        
        ```python
        rename(columns ={'<old_col_name>':'<new_col_name>'}, inplace = True)
         ```
         
        2. What is the datatype of the new Date column in the json DataFrame?
            * You will notice that it is a `datetime64[ns]` datatype, which means the number of seconds since 1-1-1970. To make it date fomat like the yahoo DataFrame, convert the column to a pandas datetime datatype by using the following code: 
         
          ```python
              btc_df['<column_name>'] = pd.to_datetime(btc_df['<column_name>'], unit='ms')
          ```
         
        3. To change the index of your dataframe use the `set_index` built-in pandas function:
        ```python
              set_index('<column_name>', inplace=True)
        ```
            * The remaining common columns labels in both DataFrames are not uniformed. The json DataFrame uses lowercase strings,  while the yahoo DataFrame uses a first letter world uppercase string.
                  1. Change the column labels of the yahoo DataFrame to lowercase strings. Adjust the following code accordingly:
             ```python
                data_frame.columns= data_frame.columns.str.lower()
             ```
             
4. Concatenate the two dataframe into one dataset.
5. Do The basic EDA cheklist procedures on the resulting dataset:
   * Do few time series plots: 
       * open, close, high, low, volume with regards to Date
   * Print the correlation matrix.
6. Do the General Data Cleaning Checklist operations to see if ther is still cleaning operations to accomplish.
    * Most particularly, you will notice a NaN values in both `adj close` and `symbole` columns. What is your suggestion to deal with this missing values given that the company is not interest at all on the `adj close` data. 	
7. Save your cleaner dataframe into a csv file.
    * Use the `pandas.DataFrame.to_csv` method.

In [ ]:
#Your Solution
import json

with open('data/bitcoin_price.json') as f:
    data = json.load(f)

btc_df_jsn=pd.DataFrame.from_dict(data)
btc_df_jsn

In [ ]:
import yfinance as yf

btc_yf_df = yf.download('BTC-USD', # The currency we are intersted in
                   start='2020-11-28', # The starting date
                   end='2022-10-31', # The starting date
                   interval='1d' # The frequency of collecting the data. here 1 day
                  )

In [ ]:
btc_yf_df

In [ ]:
btc_df_jsn.rename(columns ={'time':'Date'}, inplace = True)
btc_df_jsn['Date'] = pd.to_datetime(btc_df_jsn['Date'], unit='ms')
btc_df_jsn.set_index('Date', inplace=True)
btc_yf_df.columns= btc_yf_df.columns.str.lower()

btc_yf_df.head()

In [ ]:
btc_df_jsn.head()

In [ ]:
btc_df = pd.concat([btc_df_jsn, btc_yf_df])

In [ ]:
plt.figure(figsize=(12, 6))

plt.subplot(2, 3, 1)
plt.plot(btc_df['open'])
plt.title('Open')

plt.subplot(2, 3, 2)
plt.plot(btc_df['close'])
plt.title('Close')

plt.subplot(2, 3, 3)
plt.plot(btc_df['high'])
plt.title('High')

plt.subplot(2, 3, 4)
plt.plot(btc_df['low'])
plt.title('Low')

plt.subplot(2, 3, 5)
plt.plot(btc_df['volume'])
plt.title('Volume')

plt.tight_layout()
plt.show()

In [ ]:
btc_df[['open', 'close', 'high', 'low', 'volume']].corr()

In [ ]:
btc_df.isna().sum()

In [ ]:
btc_df.drop(columns='adj close', inplace=True)
btc_df.columns

In [ ]:
btc_df['symbol'].value_counts

In [ ]:
btc_df['symbol'].fillna('btcusd', inplace=True)
btc_df['symbol'].value_counts

In [ ]:
btc_df.to_csv('btc_data.csv', index=True)

In [ ]:
btc_df.duplicate().sum()